[access "refs/heads/*"]
	push = group vCloud CPI Commiters - Unused
	pushMerge = group vCloud CPI Commiters - Unused
	label-Verified = -1..+1 group vCloud CPI Commiters - Unused
	submit = group vCloud CPI Commiters - Unused
	label-Code-Review = -2..+2 group vCloud CPI Commiters - Unused
[access "refs/tags/*"]
	create = group vCloud CPI Commiters - Unused
[access "refs/for/refs/heads/*"]
	push = group vCloud CPI Commiters - Unused
	pushMerge = group vCloud CPI Commiters - Unused
