[access "refs/heads/*"]
	push = group vCloud CPI Commiters
	pushMerge = group vCloud CPI Commiters
	label-Verified = -1..+1 group vCloud CPI Commiters
	submit = group vCloud CPI Commiters
	label-Code-Review = -2..+2 group vCloud CPI Commiters
[access "refs/tags/*"]
	create = group vCloud CPI Commiters
[access "refs/for/refs/heads/*"]
	push = group vCloud CPI Commiters
	pushMerge = group vCloud CPI Commiters
