[access "refs/heads/*"]
	push = group DevEmpathy Members
	push = group vCHS Members
	pushMerge = group DevEmpathy Members
	pushMerge = group vCHS Members
	label-Verified = -1..+1 group DevEmpathy Members
	label-Verified = -1..+1 group vCHS Members
	submit = group DevEmpathy Members
	submit = group vCHS Members
	label-Code-Review = -2..+2 group DevEmpathy Members
	label-Code-Review = -2..+2 group vCHS Members
[access "refs/tags/*"]
	create = group vCloud CPI Commiters
